@{
    ViewData["Title"] = "Pagina Inicio";
}
@model List<string>

    

<div id="Bienvenida" class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <h1 class="display-4">Inmobiliaria Farias</h1>
</div>

<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/img/casa1.jpg" alt="Casa 1">
        </div>
        <div class="carousel-item">
            <img src="~/img/casa2.jpg" alt="Casa2">
        </div>
        <div class="carousel-item">
            <img src="~/img/casa3.jpg" alt="Casa 3">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>

</div>


<p>Listado de clientes actualizado:</p>
<ul>
    @foreach (string s in Model)
    {
        <li>@s</li>
    }
</ul>
