@model Farias_Inmobiliaria.Models.Propietario

<div class="container">
    <div class="row">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cambiar contraseña de @Model.Nombre @Model.Apellido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div>

                        <form id="formCambiarPass" asp-action="EditPasswordPost" enctype="multipart/form-data">

                            <label asp-for="IdPropietario" class="control-label"></label>
                            <input asp-for="IdPropietario" class="form-control" readonly />
                            <span asp-validation-for="IdPropietario" class="text-danger"></span>


                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" required />
                            <span asp-validation-for="Password" class="text-danger"></span>

                        </form>

                    </div>

                </div>
                <div class="modal-footer">

                    <button id="buttonModal" type="button" class="btn btn-primary" hidden>Cambiar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    $("#formCambiarPass").change(function () {
        $("#buttonModal").attr("hidden", false);
        $("#texto").text("Presione el boton cambiar...");

    });

    console.log("Pasando1");
    $("#buttonModal").click(function (event) {
        console.log("Hola1");
        $('#formCambiarPass').submit();
        console.log("Hola2");

    });

    //alert("hola");

</script>

