@model Farias_Inmobiliaria.Models.Propietario

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Propietario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdPropietario" class="control-label"></label>
                <input asp-for="IdPropietario" class="form-control" disabled />
                <span asp-validation-for="IdPropietario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">

                <button type="button" id="crearModal" class="btn btn-primary" style="width:200px" data-target="#mymodal">Cambiar Contraseña</button>

            </div>


            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                <a asp-action="Index" class="btn btn-primary">Volver a la Lista</a>
            </div>
        </form>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Cambiar contraseña" aria-hidden="true" data-url="@Url.Action("EditPassword","Propietario", new { id = Model.IdPropietario })"></div>

    </div>
</div>

<div>
    
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#crearModal').click(function () {

            var url = $("#myModal").data("url");
            $.get(url, function (data) {

                console.log("Click en button cambiar contraseña");
                $("#myModal").html(data);
                $("#myModal").modal("show");

            });

        });

    });

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
